<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add fruit.</title>
</head>
<body>
<form action="#" th:action="@{/addfruit}" th:object="${fruitsHibernateEntity}" method="post">
  <div>
    <label>Fruit name:</label>
    <input type="text" th:field="*{name}" required/>
  </div>
  <div>
    <label>Calories:</label>
    <input type="number" th:field="*{calories}" required/>
  </div>
  <div>
    <label>Sugar:</label>
    <input type="number" th:field="*{sugar}" required/>
  </div>
  <button type="submit">Submit</button>
</form>
</body>
</html>